{% extends 'base.html' %}
{% block content %}

<h1>Dress: {{ dress.name }}</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ dress.name }}</span>
                <p>Designer: {{ dress.designer }}</p>
                <p>Collection: {{ dress.collection }}</p>
                <p>Style: {{ dress.get_style_display }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'dresses_update' dress.id %}">Edit</a>
                <a href="{% url 'dresses_delete' dress.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_review' dress.id %}" method="POST">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit" class="btn">Submit</button>
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                <!-- Note that we do not add parens after .all -->
                {% for review in dress.review_set.all %}
                <tr>
                    <td>{{ review.reviewer_name }}</td>
                    <td>{{ review.rating }}</td>
                    <td>{{ review.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>Stores Carrying {{ dress.name }}:</h3>
        {% if dress.stores.count %}
        {% for store in dress.stores.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ store.name }}</span>
                <p>{{ store.street_address }}, {{ store.city }}, {{ store.province }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>{{ dress.name }} is not available in any stores 😔</p>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Other Stores</h3>
        {% if stores_not_carrying.count %}
        {% for store in stores_not_carrying %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ store.name }}</span>
                <p>{{ store.street_address }}, {{ store.city }}, {{ store.province }}</p>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_store' dress.id store.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No more stores to add</p>
        {% endif %}
    </div>
</div>

<!-- We want the following JS to run after the elements are in the DOM, so we put the JS at the bottom of the template -->
<script>
    // To initialize the select for rating:
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
</script>

{% endblock content %}